.price{
    padding-top: 60px;
    &__wrapper{
        margin-top: 60px;
        padding: 0 51px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 306px;
        row-gap: 15px;
    }
    &-list{
        padding-left: 25px;
        display: grid;
        grid-template: repeat(2, minmax(21, auto)) / repeat(2, auto);
        row-gap: 5px;
        justify-content: space-between;
        .service{
            position: relative;
            &::before{
                content: '';
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background-color: $main-color;
                position: absolute;
                top: 3px;
                left: -25px;

            }
        }
        .cost{
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            justify-self: end;
        }
        .descr{
            grid-column: 1/3;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
}