.sidepanel{
    height: 340px;
    top: 230px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    z-index: 1;
    &__divider{
        width: 2px;
        height: 70px;
        background: #767676;
    }
    &__text{
        height: 150px;
        width: 25px;
        font-weight: 700;
        color: #767676;
        span{
            transform: rotate(-90deg) translate(-35%, -260%);
            display: block;
            width: 150px;
        }
    }
}